body {
    background:black;
    padding:0;
    margin:0;
}
fieldset {
    color:cyan;
    padding:2px;
}
legend {
    margin-left:10px;
}
legend:hover {
    cursor:pointer;
    background:red;
}
div.hidden {
    display:none;
}

fieldset>form.option {
    padding:0 5px;
}
fieldset>form.option>br {
    clear:both;
}
fieldset>form.option>div.item {
    margin-right:3px;
    float:left;
}
fieldset>form.option>div.item label {
    margin-right:3px;
}
fieldset>form.option>div.item input.args.char {
    width:20px;
}
fieldset>form.option>div.item input.args.tiny {
    width:40px;
}
fieldset>form.option>div.item input.args {
    width:80px;
}
fieldset>form.option>div.item input.args.cmd {
    background-color:black;
    color:white;
    width:160px;
}
fieldset>form.option>div.item input.args.long {
    width:240px;
}
fieldset>form.option>div.item input.args.full {
    width:480px;
}
fieldset>form.option>div.item input.opts {
    width:80px;
}
fieldset>form.option>div.item textarea.args {
    background-color:cyan;
    width:300px;
    height:50px;
}
fieldset>form.option>div.item.text>input {
    background-color:cyan;
}
fieldset>form.option>div.item.button>input {
    background:black;
    color:cyan;
}
fieldset>form.option>div.item.select>select {
    background:black;
    color:cyan;
}
fieldset>form.option>div.item.textarea {
    margin-top:4px;
    clear:both;
}

fieldset>div.action {
    clear:none;
}
fieldset>div.action>div.item {
    float:left;
    margin:2px 0;
}
fieldset>div.action>div.item>select {
    color:cyan;
    background:black;
    /* margin:3px 0; */
}
fieldset>div.action>div.item>input {
    color:cyan;
    background:black;
}
fieldset>div.action>div.item>input:hover {
    background:gray;
}
fieldset>div.action>div.item.space {
    width:10px;
}
fieldset>div.status>div.item {
    float:left;
    padding:4px;
}
fieldset>div.status>div.item>label {
    font-size:14px;
    color:gray;
}

fieldset>div.output {
    margin-top:4px;
    clear:both;
    overflow:auto;
    position:relative;
}
fieldset>div.output div.code a {
    color:yellow;
}
fieldset>div.output>div.project {
    float:left;
    /* position:fixed; */
}
fieldset>div.output>div.project div.item {
    margin-left:10px;
    clear:both;
}
fieldset>div.output>div.project div.item:hover {
    border:solid 1px red;
}
fieldset>div.output>div.project div.list {
    margin-left:10px;
}
fieldset>div.output>pre.profile {
    float:right;
}
fieldset>div.output>div.profile>div.item {
    clear:both;
}
fieldset>div.output>div.profile>div.item:hover {
    border:solid 1px red;
}
fieldset>div.output>pre.display {
    position:sticky; bottom:0;
    /* max-height:120px; */
    max-height:400px;
    clear:both;
}
fieldset>div.output>pre.display:hover {
    /* max-height:640px; */
}

fieldset div.code {
    color:white;
    font-size:14px;
    font-family:monospace;
    background-color:#343a34f2;
    white-space:pre;
    padding:10px;
    overflow:auto;
    border:solid 3px green;
    /* max-height:640px; */
}
fieldset table {
    font-size:14px;
    cursor:pointer;
    border:solid 1px green;
    overflow: auto;
}
fieldset table tr:hover {
    background-color:#0fbd45;
}
fieldset table tr.select {
    background-color:#0fbd45;
}
fieldset table tr.over {
    background:red;
}
fieldset table th {
    font-family:monospace;
    background-color:#0fbd45;
    cursor:pointer;
    padding: 0 6px;
}
fieldset table td {
    max-width:1200px;
    font-family:monospace;
    padding: 0 6px;
    white-space: pre;
}
fieldset table td:hover {
    background-color:red;
}
fieldset table td.select {
    background-color:red;
}

div.toast {
    color:yellow;
    background:black;
    border:solid 2px red;
    position:fixed;
    padding:5px;
    z-index:100;
}
div.toast div.title {
    font-size:14px;
    color:gray;
}
div.toast div.content {
    text-align:center;
}
div.toast div.duration {
    font-size:14px;
    color:gray;
}

div.carte {
    color:cyan;
    background:black;
    border:solid 2px red;
    position:fixed;
    z-index:100;
}
div.carte div.item {
    padding:0 5px;
}
div.carte div.item:hover {
    background:red;
    border:solid 2px yellow;
    cursor:pointer;
}

div.upload {
    color:yellow;
    background:black;
    border:solid 2px red;
    position:fixed;
    padding:5px;
    z-index:100;
}
div.upload div.item {
    float:left;
}

fieldset.input {
    background-color:black;
    position:fixed;
    left:0; top:0;
}
fieldset.input {
    z-index:99;
}
fieldset.input.date {
    z-index:101;
}
fieldset.input.key {
    z-index:101;
}


body.white {
    margin:0; padding:0;
    background-color:#0dabda;
}
body.white fieldset.plugin {
    margin:0; border:0;
    border-top:solid 2px #CCCCFF;
    background-color:white;
    color:black;
}

body.white fieldset.Header {
    border:solid 2px #1f2224;
    background-color:#2f3638;
    color:white;
}
body.white fieldset.Header input {
    border:2px solid #c4c7ce;
    border-radius:10px 10px 10px 10px;
    background-color:white;
    color:white;
}
body.white fieldset.Footer {
    border:solid 2px #1f2224;
    background-color:#1f2224;
    color:white;
}
body.white fieldset.River {
    border:solid 2px #1f2224;
    background-color:#1f2224;
    color:white;
}
body.white fieldset.River>div.output div.item:hover {
    background-color:black;
    border:solid 2px black;
}
body.white fieldset.River>div.output div.item.select {
    background-color:black;
    border:solid 2px black;
}
body.white fieldset.River>div.output div.subitem:hover {
    background-color:black;
    border:solid 2px black;
}
body.white fieldset.River>div.output div.subitem.select {
    background-color:black;
    border:solid 2px black;
}
body.white fieldset.Storm {
    border:solid 10px #1f2224;
    background-color:#1f2224;
    color:white;
}
body.white fieldset.Storm>div.output>div.item:hover {
    background-color:black;
    border:solid 2px black;
}
body.white fieldset.Storm>div.output>div.item.select {
    background-color:black;
    border:solid 2px black;
}
body.white fieldset.Action {
    background-color:#0dabda;
    border-top:0;
}
body.white fieldset.Action fieldset.plugin {
    border:0;
    border-top:solid 2px #CCCCFF;
    background-color:white;
    color:black;
}
body.white fieldset.Action fieldset.plugin:hover {
    border-top:solid 2px #6666FF;
}
body.white fieldset.Action fieldset.plugin legend {
    padding:2px 20px;
    border-radius:10px 10px 10px 10px;
    border:2px solid #99CCFF;
    background-color:#339999;
    color:white;
}
body.white fieldset.Action fieldset.plugin legend:hover {
    background-color:#6ee4e4;
}
body.white fieldset.Action fieldset.plugin div.output{
    color:black;
}
body.white fieldset.Action fieldset.plugin div.item input[type=button] {
    letter-spacing:4px;
}
body.white fieldset.plugin div.item input[type=text] {
    border:2px solid #c4c7ce;
    border-radius:8px 8px 8px 8px;
    background-color:white;
    color:black;
}
body.white fieldset.plugin div.item input[type=text]:hover {
    background-color:cyan;
}
body.white fieldset.plugin div.item input[type=button] {
    padding:0 20px;
    border-radius:10px 10px 10px 10px;
    border:2px solid #FF9900;
    background-color:#FF9900;
    color:white;
}
body.white fieldset.plugin div.item input[type=button]:hover {
    border-radius:10px 10px 10px 10px;
    border:2px solid #FFCC33;
    background-color:#FFCC33;
}
body.white fieldset.plugin div.item select {
    padding:0 20px;
    margin-top:2px;
    border-radius:10px 10px 10px 10px;
    border:2px solid #99CC66;
    background-color:#99CC66;
    color:white;
}
body.white fieldset.plugin div.item select:hover {
}
body.white fieldset.plugin table {
    background:#9fb5bb;
    border:0;
}
body.white fieldset.plugin table tr {
    background-color:gray;
}
body.white fieldset.plugin table tr:hover {
    background-color:gray;
}
body.white fieldset.plugin table th {
    padding:4px;
    background-color:#99CCFF;
    color:black;
}
body.white fieldset.plugin table td {
    padding:4px;
    background-color:white;
    color:black;
}
body.white fieldset.plugin table td:hover {
    background-color:lightgray;
}
