html, body {
    padding:0px;
    height:100%;
    width:100%;
    margin:0px;
}
fieldset {
    padding:0px;
    min-width:10px;
    overflow:auto;
    margin:0px;
}
legend {
    margin-left:10px;
}

fieldset>form.option {
    padding:0 5px;
}
fieldset>form.option>br {
    clear:both;
}
fieldset>form.option>div.item {
    margin-right:3px;
    float:left;
}
fieldset>form.option>div.item.textarea {
    margin-top:4px;
    clear:both;
}
fieldset>form.option label {
    margin-right:3px;
}
fieldset>form.option input.args.char {
    width:20px;
}
fieldset>form.option input.args.tiny {
    width:40px;
}
fieldset>form.option input.args {
    width:80px;
}
fieldset>form.option input.args.cmd {
    background-color:black;
    color:white;
    width:160px;
}
fieldset>form.option input.args.long {
    width:240px;
}
fieldset>form.option input.args.full {
    width:480px;
}
fieldset>form.option input.opts {
    width:80px;
}
fieldset>form.option textarea.args {
    width:300px;
    height:50px;
}
fieldset>div.action {
    padding:6px;
    clear:both;
}
fieldset>div.action>div.item {
    float:left;
}
fieldset>div.action>div.item.space {
    display:inline-block;
    width:10px;
}
fieldset>div.action input {
    width:60px;
    margin-left:6px;
}
fieldset>div.action input:hover {
    width:100px;
}
fieldset>div.action input:focus {
    width:120px;
}
fieldset>div.output {
    padding:5px;
    clear:both;
}
fieldset>div.output>div.item {
    padding:2px;
}
fieldset>div.output>div.item:hover {
    cursor:pointer;
    background-color:red;
    border:ridge 2px yellow;
}

fieldset.dialog {
    padding:10px;
    display:none;
    position:absolute;
    z-index:10;
}
fieldset.dialog>div.output {
    padding:10px;
    float:left;
}
fieldset.dialog>div.output table th {
    min-width:130px;
}
fieldset.dialog>div.output table td {
    min-width:100px;
}
fieldset.dialog>div.create {
    padding:10px;
    border:solid 1px red;
    margin-left:10px;
    float:left;
}
fieldset.dialog>div.create table {
    min-width:240px;
}

fieldset.item {
    float:left;
}
fieldset.item>form.option>div.item {
    padding:0;
    border:0;
}
fieldset.item>form.option>div.item:hover {
    border:0;
}
fieldset.item>form.option>div.item.select {
    border:0;
}
fieldset.item>div.output {
    overflow:auto;
}
fieldset.item>div.output>canvas {
    background-color:#8dd09e;
}
fieldset.item>div.output>div.action>button.trap {
    background-color:lightblue;
    border:2px blue solid;
}
fieldset.item>div.output>div.action>div.space {
    width:10px;
    display:inline-block;
}
fieldset.item>div.output>div.status>div {
    float:left;
    height:20px;
    border:1px solid black;
}
fieldset.item>div.output>div.status>input.cmd {
    float:left;
    background-color:black;
    color:lightgreen;;
    font-size:16px;
    width:250px;
}
fieldset.item>div.output>div.code svg {
    border: solid 2px red;
}
fieldset.item div.border-left {
    position:absolute;
    width:2px;
    height:inherit;
    height:-webkit-fill-available;
    background:green;
    cursor:ew-resize;
}
fieldset.item div.border-right {
    position:absolute;
    right:0px;
    width:2px;
    height:inherit;
    height:-webkit-fill-available;
    background:green;
    cursor:ew-resize;
}
fieldset.item div.border-bottom {
    position:absolute;
    bottom:0px;
    height:2px;
    width:-webkit-fill-available;
    background:green;
    cursor:ns-resize;
}

fieldset.input {
    border:solid 2px yellow;
    position:absolute;
}
fieldset.input>legend {
    padding-top:4px;
}
fieldset.input table tr:hover {
    background-color:yellow;
}
fieldset.input table td:hover {
    background-color:red;
    cursor:pointer;
}
fieldset.input table td.select {
    background-color:red;
}

fieldset table {
    font-size:14px;
    overflow: auto;
    border:solid 1px green;
}
fieldset table caption {
    font-size:18px;
    font-style:italic;
    border:solid 1px green;
}
fieldset table tbody {
    overflow:auto;
}
fieldset table tr.hidden {
    display:none;
}
fieldset table th.order {
    background-color:red;
    cursor:pointer;
}
fieldset table td.clip {
    background-color:red;
}
fieldset table td sup.more {
    color:red;
}

fieldset div.code {
    color:white;
    font-size:14px;
    font-family:monospace;
    background-color:#272822;
    white-space:pre;
    padding:10px;
    overflow:auto;
    border:solid 3px green;
    max-height:640px;
}
fieldset div.code span.red {
    color:red;
}
fieldset div.code span.green {
    color:green;
}

fieldset .story {
    border:solid 2px #f000;
}
fieldset .story:hover {
    border:solid 2px red;
}
fieldset p.story {
    white-space:pre;
}
fieldset ul.story li:hover {
    border:solid 2px red;
    cursor:pointer;
}
fieldset code.story {
    display:block;
    color:white;
    font-size:14px;
    font-family:monospace;
    background-color:#272822;
    white-space:pre;
    padding:10px;
    overflow:auto;
    border:solid 3px green;
    max-height:640px;
}

fieldset div.stack:hover {
    background-color:red;
}
fieldset div.stack {
    cursor:pointer;
    width:fit-content;
}
fieldset div.stack.fold {
    font-weight:bold;
}
fieldset ul.stack {
    border:solid 2px #0000;
    margin:0px;
}
fieldset ul.stack:hover {
    border:solid 2px red;
}

