html, body {
    padding:0px;
    height:100%;
    width:100%;
    margin:0px;
}
fieldset {
    padding:0px;
    min-width:10px;
    overflow:auto;
    margin:0px;
}
legend {
    margin-left:10px;
}
.hidden {
    display:none;
}

fieldset>form.option {
    padding:0 5px;
}
fieldset>form.option>br {
    clear:both;
}
fieldset>form.option>div.item {
    margin-right:3px;
    float:left;
}
fieldset>form.option>div.item.textarea {
    margin-top:4px;
    clear:both;
}
fieldset>form.option label {
    margin-right:3px;
}
fieldset>form.option input.args.char {
    width:20px;
}
fieldset>form.option input.args.tiny {
    width:40px;
}
fieldset>form.option input.args {
    width:80px;
}
fieldset>form.option input.args.cmd {
    background-color:black;
    color:white;
    width:160px;
}
fieldset>form.option input.args.long {
    width:240px;
}
fieldset>form.option input.args.full {
    width:480px;
}
fieldset>form.option input.opts {
    width:80px;
}
fieldset>form.option textarea.args {
    width:300px;
    height:50px;
}
fieldset div.action {
    padding:6px;
    clear:both;
}
fieldset div.action>div.item {
    float:left;
}
fieldset div.action>div.item.space {
    display:inline-block;
    width:10px;
}
fieldset div.action input {
    width:60px;
    margin-left:6px;
}
fieldset div.action input:hover {
    width:100px;
}
fieldset div.action input:focus {
    width:120px;
}
fieldset div.output {
    padding:5px;
    clear:both;
}
fieldset div.output>div.item {
    padding:2px;
}
fieldset div.output>div.item:hover {
    cursor:pointer;
    background-color:red;
    border:ridge 2px yellow;
}
fieldset div.status {
    clear:both;
}

fieldset div.status>div.item {
    margin:0 2px;
    float:left;
}

fieldset.dialog {
    padding:10px;
    display:none;
    position:absolute;
    z-index:10;
}
fieldset.dialog>div.output {
    padding:10px;
    float:left;
}
fieldset.dialog>div.output table th {
    min-width:130px;
}
fieldset.dialog>div.output table td {
    min-width:100px;
}
fieldset.dialog>div.create {
    padding:10px;
    border:solid 1px red;
    margin-left:10px;
    float:left;
}
fieldset.dialog>div.create table {
    min-width:240px;
}

fieldset.item {
    float:left;
}
fieldset.item>div.output {
    overflow:auto;
}

fieldset.input {
    position:absolute;
}
fieldset.input>legend {
    padding-top:4px;
}

fieldset table {
    font-size:14px;
    overflow: auto;
    border:solid 1px green;
}
fieldset table caption {
    font-size:18px;
    font-style:italic;
    border:solid 1px green;
}
fieldset table tbody {
    overflow:auto;
}
fieldset table td sup.more {
    color:red;
}

fieldset div.code {
    color:white;
    font-size:14px;
    font-family:monospace;
    background-color:#343a34f2;
    white-space:pre;
    padding:10px;
    overflow:auto;
    border:solid 3px green;
    max-height:640px;
}
fieldset div.hidden {
    display:none;
}
