fieldset.Header {
    height:32px;
    min-width:640px;
    clear:both;
}
fieldset.Header>div.action {
    padding:0;
}
fieldset.Header>div.output>div.title {
    cursor:pointer;
    float:left;
}
fieldset.Header>div.output>div.title:hover {
    cursor:pointer;
    background-color:red;
    border:ridge 2px yellow;
}
fieldset.Header>div.output>div.state {
    float:right;
}
fieldset.Header>div.output>div.state div.item {
    padding:0;
}
fieldset.Header>div.output>div.state>div {
    cursor:pointer;
    margin-left:5px;
    float:right;
}
fieldset.Header>div.output>div.state>div:hover {
    background-color:red;
}

