fieldset.Target div.output div.item:hover {
    background-color:lightgreen;
}
fieldset.Target>div.output>div.item {
    padding-top:6px;
    clear:both;
}
fieldset.Target>div.output>div.item>div.text {
    padding:6px;
    float:left;
}
fieldset.Target>div.output>div.item>div.time {
    padding-left:5px;
    font-size:10px;
    color:gray;
}
fieldset.Target>div.output>div.item>div.user {
    border-right:solid 1px green;
    border-bottom:solid 1px green;
    float:left;
    padding:6px;
}

