fieldset.panel.cmd>div.legend {
    display:none;
}
fieldset.panel.cmd>div.output>fieldset.plugin {
    margin:0; padding:0;
}
fieldset.panel.cmd>div.output>fieldset.plugin>legend {
    display:none;
}
fieldset.panel.cmd>div.output>fieldset.plugin>div.legend {
    display:none;
}
fieldset.panel.cmd>div.output>fieldset.plugin>div.legend {
    float:left; padding:0 10px; margin-right:3px;
    height:25px; font-size:18px;
    background-color:darkcyan;
    cursor:pointer;
}
fieldset.plugin>legend {
    display:none;
}
body.white fieldset.panel.cmd>div.output>fieldset.plugin>div.legend {
    background-color:honeydew;
}
fieldset.panel.cmd>div.output>fieldset.plugin>div.status {
    display:none;
}
