fieldset.Header { font-size:1.1rem; padding:0 5px; height:31px; overflow:auto; z-index:10; }
fieldset.Header>div.output { overflow:hidden; }
fieldset.Header>div.output div { padding:5px; height:21px; float:left; cursor:pointer; }
fieldset.Header>div.output div:hover { background-color:#2e515f; }
fieldset.Header>div.output div.title { float:left; }
fieldset.Header>div.output div.state { float:right; }
fieldset.Header>div.output div.state.avatar { padding:0; height:31px; }
fieldset.Header>div.output div.state.avatar>img { height:31px; }
fieldset.Header>div.output div.search { margin-left:20px; float:left; }
fieldset.Header>div.output div.search>input { margin-top:-5px; border-radius:0; }

fieldset.goods>div.output>div.item>div { padding:10px; float:left; clear:none; }
fieldset.goods>div.output>div.item { height:170px; width:430px; float:left; border-radius:10px; }
fieldset.goods>div.output>div.item>div.image img { border-radius:10px; }
fieldset.goods>div.output>div.item>div.content>div.title { width:240px; height:50px; white-space:break-spaces; overflow:auto; }
fieldset.goods>div.output>div.item>div.content>div.price { color:red; }