fieldset.Header>div.output { line-height:21px; height:var(--header-height); overflow:hidden; }
fieldset.Header>div.output div.item { background-color:var(--panel-output-bg-color); padding:13.5px; height:var(--header-height); float:left; }
fieldset.Header>div.output div.item.title:first-child { font-size:var(--legend-font-size); font-style:italic; font-weight:bold; overflow:hidden; }
fieldset.Header>div.output div.item.title img { height:var(--action-height); width:var(--action-height); }
fieldset.Header>div.output div.item.theme { user-select:none; }
fieldset.Header>div.output div.item.theme>i { margin-right:0; }
fieldset.Header>div.output div.item.theme>i:last-child { color:var(--disable-fg-color); }
fieldset.Header>div.output div.item.theme>i.bi-moon-stars:last-child { font-size:12px; }
fieldset.Header>div.output div.item.language { user-select:none; }
fieldset.Header>div.output div.item.language { margin-right:var(--button-margin); }
fieldset.Header>div.output div.item.language>span:last-child { color:var(--disable-fg-color); }
fieldset.Header>div.output div.state { float:right; }
fieldset.Header>div.output div.state.avatar { padding:0; }
fieldset.Header>div.output div.state.avatar>img { height:var(--header-height); clip-path:circle(40%); }
fieldset.Header>div.output div.search.title { padding:7px 5px; margin-left:15px; }
fieldset.Header>div.output div.search>i { padding:7px; }
fieldset.Header>div.output div.search>input { padding-left:25px; }
fieldset.Header>div.output div.search>span.icon { padding:var(--input-padding) var(--button-padding); }
body:not(.mobile) fieldset.Header>div.output div.title:first-child { width:var(--river-width); }
body:not(.mobile) fieldset.Header>div.output div.title img { margin-right:var(--button-margin); }
