fieldset.River { width:var(--river-width); float:left; }
fieldset.River>div.action { margin-top:var(--plugin-margin); width:100%; display:flex; justify-content:center; }
fieldset.River>div.output div.item { padding:var(--legend-padding); border-left:#00ffae solid 3px; }
fieldset.River>div.output div.item:hover { color:var(--panel-hover-fg-color); }
fieldset.River>div.output div.item.select { color:var(--panel-hover-fg-color); }
fieldset.River>div.output div.list div.item { border-left:#ccdc4c solid 3px; }
fieldset.River>div.output div.list { margin-left:var(--legend-padding); }
body:not(.mobile) fieldset.River>div.output { padding:var(--plugin-padding); }
fieldset.River>div.output { margin:var(--river-margin) 0; }
