fieldset.Search { background-color:#061c3ceb; padding:10px; position:fixed; left:230px; top:48px; }
fieldset.Search>div.action>div.item.filter>input { margin-right:0; width:320px; }
fieldset.Search>div.output table.content { width:100%; }
