fieldset.Search { padding:var(--plugin-padding); box-shadow:unset; position:fixed; left:var(--project-width); top:var(--header-height); }
fieldset.Search>div.output>div.profile { max-width:unset; }
fieldset.Search>div.output table.content { width:100%; }
