* {
    background:black;
}
body {
    padding:0;
    margin:0;
}
fieldset {
    color:cyan;
    padding:2px;
    margin:0px;
}
legend {
    margin-left:10px;
}

fieldset>form.option {
    padding:0 5px;
}
fieldset>form.option>br {
    clear:both;
}
fieldset>form.option>div.item {
    margin-right:3px;
    float:left;
}
fieldset>form.option>div.item label {
    margin-right:3px;
}
fieldset>form.option>div.item input.args.char {
    width:20px;
}
fieldset>form.option>div.item input.args.tiny {
    width:40px;
}
fieldset>form.option>div.item input.args {
    width:80px;
}
fieldset>form.option>div.item input.args.cmd {
    background-color:black;
    color:white;
    width:160px;
}
fieldset>form.option>div.item input.args.long {
    width:240px;
}
fieldset>form.option>div.item input.args.full {
    width:480px;
}
fieldset>form.option>div.item input.opts {
    width:80px;
}
fieldset>form.option>div.item textarea.args {
    width:300px;
    height:50px;
    background-color:cyan;
}

fieldset>form.option>div.item.text>input {
    background-color:cyan;
}
fieldset>form.option>div.item.button>input {
    color:cyan;
}
fieldset>form.option>div.item.select>select {
    color:cyan;
}
fieldset>form.option>div.item.textarea {
    margin-top:4px;
    clear:both;
}

fieldset.Action>div.output {
    overflow:auto;
}
fieldset>div.output {
    margin-top:4px;
    clear:both;
    overflow:auto;
}

fieldset table {
    font-size:14px;
    overflow: auto;
}
fieldset table caption {
    font-size:18px;
    font-style:italic;
    border:solid 1px green;
}
fieldset table tbody {
    overflow:auto;
}
fieldset table td sup.more {
    color:red;
}

fieldset table {
    border:solid 1px green;
    cursor:pointer;
}
fieldset table tr:hover {
    background-color:#0fbd45;
}
fieldset table tr.over {
    background:red;
}
fieldset table tr.select {
    background-color:#0fbd45;
}
fieldset table th {
    font-family:monospace;
    background-color:#0fbd45;
    cursor:pointer;
    padding: 0 6px;
}
fieldset table td {
    max-width:1200px;
    font-family:monospace;
    padding: 0 6px;
    white-space: pre;
}
fieldset table td:hover {
    background-color:red;
}
fieldset table td.select {
    background-color:red;
}

fieldset div.code {
    color:white;
    font-size:14px;
    font-family:monospace;
    background-color:#343a34f2;
    white-space:pre;
    padding:10px;
    overflow:auto;
    border:solid 3px green;
    max-height:640px;
}
fieldset div.hidden {
    display:none;
}

fieldset div.code {
    color:white;
    font-size:14px;
    font-family:monospace;
    background-color:#343a34f2;
    white-space:pre;
    padding:10px;
    overflow:auto;
    border:solid 3px green;
    max-height:640px;
}

