body, fieldset { 
    color: white;
    background-color:black;
}
fieldset.item { 
    border:ridge 2px gray;
    margin:2px;
}
fieldset.item:hover {
    /* background-color:gold; */
    border:ridge 2px gray;
}
fieldset.item.select {
    /* background-color:gold; */
    border:ridge 2px gray;
}
a {
    color:white;
}

fieldset.input {
    border:solid 2px yellow;
}
fieldset.input table tr:hover {
    background-color:gray;
}
fieldset.input table td:hover {
    background-color:gray;
    cursor:pointer;
}
fieldset.input table td.select {
    background-color:gray;
}

fieldset.story { 
    border:ridge 1px gray;
    margin:2px;
}

fieldset div.output>div.item:hover {
    cursor:pointer;
    border:ridge 2px gray;
}
fieldset input {
    font-size:12px;
}
fieldset input.args {
    background-color:gray;
    font-weight:600;
    width:80px;
}
fieldset input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:gray;
}

fieldset table {
    border:solid 1px gray;
}
fieldset table tr:hover {
    background-color:gray;
}
fieldset table tr.over {
    background:gray;
}
fieldset table tr.select {
    background-color:gray;
}
fieldset table th {
    font-family:monospace;
    background-color:gray;
    cursor:pointer;
    padding: 0 6px;
}
fieldset table td {
    max-width:1200px;
    font-family:monospace;
    padding: 0 6px;
    white-space: pre;
}
fieldset table td:hover {
    background-color:gray;
}
fieldset table td.select {
    background-color:gray;
}
fieldset div.code {
    color:white;
    font-size:14px;
    font-family:monospace;
    background-color:black;
    white-space:pre;
    padding:10px;
    overflow:auto;
    border:solid 3px gray;
    max-height:640px;
}

fieldset.Storm>div.output>div.item.select {
    border:ridge 2px gray;
}
fieldset.item>div.output>div.code svg {
    border: solid 2px gray;
}


fieldset .story {
    border:solid 2px gray;
}
fieldset .story:hover {
    border:solid 2px gray;
}
fieldset fieldset.story {
    border:ridge 2px gray;
}
