fieldset.dialog.Carte {
    padding:0;
    border:solid 2px red;
    /* background-color:greenyellow; */
    position:absolute;
    display:none;
    z-index:200;
}
fieldset.dialog.Carte>div.action {
    padding:0;
}
fieldset.dialog.Carte>div.output {
    padding:0;
}
fieldset.dialog.Carte>div.output button {
    display:block;
}
fieldset.dialog.Carte>div.output select {
    display:block;
}
fieldset.dialog.Carte>div.output div.layout>div {
    float:left;
}
fieldset.dialog.Carte>div.output div.item {
    padding:0px 6px;
}
fieldset.dialog.Carte>div.output div.space {
    border:solid 1px gray;
    margin-top:8px;
    clear:both;
}

