fieldset.dialog.Debug {
    opacity:0.8;
}
fieldset.dialog.Debug tr.hide {
    display:none;
}
fieldset.dialog.Debug tr.event {
    background-color:red;
}
fieldset.dialog.Debug tr.run {
    background-color:lightgreen;
}
fieldset.dialog.Debug tr.wss {
    background-color:lightblue;
}
fieldset.dialog.Debug tr.key {
    background-color:lightyellow;
}
fieldset.dialog.Debug>div.output {
    overflow:auto;
    margin-top:50px;
}
fieldset.dialog.Debug>div.output table caption {
    position:absolute;
    top:50px;
    left:20px;
}
fieldset.dialog.Debug>div.output table thead {
    position:absolute;
    top:72px;
    left:18px;
}
fieldset.dialog.Debug>div.output table thead th {
    border:solid 1px red;
}
fieldset.dialog.Debug>div.output table caption>span {
    margin-right:4px;
}
fieldset.dialog.Debug>div.output table caption>span:hover {
    cursor:pointer;
    background-color:red;
}
fieldset.dialog.Debug>div.output table th {
    min-width:60px;
}
fieldset.dialog.Debug>div.output table td {
    min-width:60px;
}

