fieldset.Footer {
    height:32px;
    clear:both;
}
fieldset.Footer>div {
    margin:7px 0;
}
fieldset.Footer>div.output div.title {
    margin-left:5px;
    float:left;
}
fieldset.Footer>div.output div.state {
    float:right;
}
fieldset.Footer>div.output div.state>div {
    margin-right:5px;
    float:right;
}

