fieldset.Footer {
    clear:both;
    overflow:hidden;
    height:32px;
}
fieldset.Footer>div.action {
    padding:0;
}
fieldset.Footer>div.output div.title {
    float:left;
}
fieldset.Footer>div.output div.magic {
    float:right;
    margin-top:-6px;
}
fieldset.Footer>div.output div.magic>label {
    margin-right:2px;
}
fieldset.Footer>div.output div.magic>input {
    background-color:black;
    color:lightgreen;;
}
fieldset.Footer>div.output div.state {
    float:right;
}
fieldset.Footer>div.output div.state div {
    float:right;
}

