fieldset.Header {
    height:32px;
    clear:both;
}
fieldset.Header>div {
    margin:7px 0;
}
fieldset.Header>div.output>div.title {
    margin-left:5px;
    cursor:pointer;
    float:left;
}
fieldset.Header>div.output>div.title:hover {
    background-color:red;
    border:ridge 2px yellow;
}
fieldset.Header>div.output>div.search {
    margin-left:20px;
    float:left;
}
fieldset.Header>div.output>div.search>input {
    width:120px;
}
fieldset.Header>div.output>div.search>input:focus {
    width:240px;
}
fieldset.Header>div.output>div.item {
    margin-left:5px;
    cursor:pointer;
    float:left;
}
fieldset.Header>div.output>div.state {
    cursor:pointer;
    margin-right:5px;
    float:right;
}
fieldset.Header>div.output>div.state:hover {
    background-color:red;
}

body.white fieldset.Header {
    border:solid 2px #1f2224;
    background-color:#2f3638;
    color:white;
}
body.white fieldset.Header input[type=text] {
    border:2px solid #c4c7ce;
    border-radius:10px 10px 10px 10px;
    background-color:white;
    color:white;
}
