fieldset.Header {
    height:32px;
    clear:both;
}
fieldset.Header>div {
    margin:7px 0;
}
fieldset.Header>div.output>div.title {
    margin-left:5px;
    cursor:pointer;
    float:left;
}
fieldset.Header>div.output>div.title:hover {
    background-color:red;
    border:ridge 2px yellow;
}
fieldset.Header>div.output>div.search {
    margin-left:20px;
    float:left;
}
fieldset.Header>div.output>div.search>input {
    width:120px;
}
fieldset.Header>div.output>div.search>input:focus {
    width:240px;
}


fieldset.Header>div.output>div.state {
    cursor:pointer;
    margin-right:5px;
    float:right;
}
fieldset.Header>div.output>div.state:hover {
    background-color:red;
}

