fieldset.Search {
    background:#041a258a; padding:10px;
    position:fixed; z-index:20;
    display:none;
}
fieldset.Search input.word {
    width:-webkit-fill-available;
}
fieldset.Search div.output {
    max-height:600px;
    overflow:auto;
}
fieldset.Search div.output div.content {
    max-height:400px;
    overflow:auto;
}
fieldset.Search div.output div.content a {
    color:yellow;
}
fieldset.Search div.output div.content table {
    min-width:400px;
}
fieldset.Search div.output div.display {
    max-height:200px;
    overflow:auto;
}
fieldset.Search div.output div.profile {
    max-height:400px;
    overflow:auto;
}
