fieldset.Storm {
    float:right;
}
fieldset.Storm>div.output {
    padding:0;
}
fieldset.Storm>div.output>div.item {
    padding-left:6px;
}
fieldset.Storm>div.output>div.item.select {
    background-color:red;
    border:ridge 2px yellow;
}

