fieldset.dialog.Toast {
    border:solid 2px red;
    background-color:#ffffff;
    position:absolute;
    display:none;
    z-index:200;
}
fieldset.dialog.Toast>div.action {
    padding:0 0px;
}
fieldset.dialog.Toast>div.output {
    padding:0 10px;
    text-align:center;
}
fieldset.dialog.Toast>div.output>div.title {
    font-size:12px;
    text-align:center;
    color:gray;
}
fieldset.dialog.Toast>div.output>div.content  {
    word-break:break-word;
    white-space:pre-wrap;
    text-align:center;
    margin:0px;
    padding:2px;
    font-size:16px;
}
fieldset.dialog.Toast>div.output>div.tick {
    font-size:12px;
    color:gray;
}

