fieldset.Favor {
    border:solid 2px red;
    background-color:rgba(100,100,100,0.8);
    position:absolute;
    display:none;
    z-index:100;
}
fieldset.Favor input.cmd {
    color:white;
    font-size:16px;
    font-weight:bold;
    font-family:monospace;
    background-color:black;
    border:solid 1px white;
    padding:4px;
    min-width:383px;
}
fieldset.Favor div.output {
    color:white;
    font-size:16px;
    font-family:monospace;
    white-space:pre;
    max-width:640px;
    max-height:240px;
    overflow:auto;
}


