body, fieldset { 
    color: white;
    background-color:black;
}
fieldset.item { 
    border:ridge 2px cyan;
    margin:2px;
}
fieldset.item:hover {
    /* background-color:gold; */
    border:ridge 2px red;
}
fieldset.item.select {
    /* background-color:gold; */
    border:ridge 2px red;
}
fieldset.item legend {  
    color:cyan;
    border:ridge 2px cyan;
    margin-bottom:4px;
}

fieldset.input {
    border:solid 2px yellow;
}
fieldset.input table tr:hover {
    background-color:yellow;
}
fieldset.input table td:hover {
    background-color:red;
    cursor:pointer;
}
fieldset.input table td.select {
    background-color:red;
}

fieldset.story { 
    border:ridge 1px cyan;
    margin:2px;
}

fieldset div.output>div.item:hover {
    cursor:pointer;
    background-color:red;
    border:ridge 2px yellow;
}
fieldset input {
    font-size:12px;
}
fieldset input.args {
    background-color:cyan;
    font-weight:600;
    width:80px;
}
fieldset input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color:green;
}

fieldset table {
    border:solid 1px green;
}
fieldset table tr:hover {
    background-color:#0fbd45;
}
fieldset table tr.over {
    background:red;
}
fieldset table tr.select {
    background-color:#0fbd45;
}
fieldset table th {
    font-family:monospace;
    background-color:#0fbd45;
    cursor:pointer;
    padding: 0 6px;
}
fieldset table td {
    max-width:1200px;
    font-family:monospace;
    padding: 0 6px;
    white-space: pre;
}
fieldset table td:hover {
    background-color:red;
}
fieldset table td.select {
    background-color:red;
}

fieldset div.code {
    color:white;
    font-size:14px;
    font-family:monospace;
    background-color:#343a34f2;
    white-space:pre;
    padding:10px;
    overflow:auto;
    border:solid 3px green;
    max-height:640px;
}

fieldset.Storm>div.output>div.item.select {
    background-color:red;
    border:ridge 2px yellow;
}
fieldset.item>div.output>div.code svg {
    border: solid 2px red;
}

fieldset .story {
    border:solid 2px #f000;
}
fieldset .story:hover {
    border:solid 2px red;
}
fieldset fieldset.story {
    border:ridge 2px cyan;
}
