body, fieldset { 
    background-color:#d8d8d8;
}

fieldset.item:hover {
    background-color:gold;
    border:ridge 2px red;
}
fieldset.item.select {
    background-color:gold;
    border:ridge 2px red;
}

fieldset.dialog {
}

fieldset table tr:hover {
    background-color:lightgreen;
}
fieldset table tr.select {
    background-color:lightgreen;
}
fieldset table th {
    font-family:monospace;
    background-color:lightgreen;
    cursor:pointer;
    padding: 0 6px;
}
fieldset table td {
    max-width:1200px;
    font-family:monospace;
    padding: 0 6px;
    /* white-space: pre; */
}
fieldset table td:hover {
    background-color:red;
}
fieldset table td.select {
    background-color:red;
}
