body.mobile.landscape fieldset.Header.head {
    position:unset;
}
body.mobile.landscape fieldset.Header.head div.state.time {
    display:block;
}
body.mobile.landscape fieldset.Footer.foot {
    position:unset;
}
body.mobile.landscape fieldset.Action.main {
    margin-top:0; margin-bottom:0;
}
body.mobile fieldset.Header.head {
    position:fixed; top:0;
    width:-webkit-fill-available;
    height:48px; font-size:24px;
    background-color:#000000b8;
    z-index:10;
}
body.mobile fieldset.Header.head div.state.time {
    display:none;
}
body.mobile fieldset.Footer.foot {
    position:fixed; bottom:0;
    width:-webkit-fill-available;
    height:64px; font-size:24px;
    background-color:#000000b8;
    display:none;
    z-index:10;
}
body.mobile fieldset.River.left {
    position:fixed; top:48px;
    background-color:#243950bf;
    min-width:240px; font-size:24px;
    /* width:-webkit-fill-available; */
    z-index:10;
}
body.mobile fieldset.River>div.output div.list div.item {
    font-size:24px;
}
body.mobile fieldset.Action.main {
    margin-top:48px; margin-bottom:64px;
}
body.mobile input {
    font-size:18px;
}
body.mobile select {
    font-size:18px;
}
body.mobile div.carte {
    font-size:24px;
}

body {
    margin:0; padding:0;
    background:black;
    color:cyan;
}
legend {
    box-shadow:4px 4px 20px 4px #626bd0;
    cursor:pointer;
}
fieldset {
    margin:0; border:0; padding:0;
}
fieldset.panel>legend {
    display:none;
}
fieldset.plugin {
    box-shadow:2px 2px 10px 4px #626bd0;
    background-color:#061c3c9e;
    margin:10px; padding:10px;
}
fieldset.float {
    position:absolute;
    background-color:#023531cf;
}
fieldset.float>legend {
    display:none;
}

input[name=cmd] {
    width:160px;
}
input[name=date] {
    width:150px;
}
input[type=text] {
    box-shadow: 4px 4px 10px 1px #626bd0;
    background-color:cyan; color:black;
    padding: 0 4px;
}
input[type=text]:hover {
    background-color:white;
}
input[type=button] {
    background-color:black; color:cyan;
    letter-spacing:4px;
    padding-left:10px;
}
input[type=button]:hover {
    background-color:gray; color:cyan;
}
select {
    box-shadow: 4px 4px 10px 1px #626bd0;
    background-color:black; color:cyan;
    padding:0 10px;
}
option {
    font-family:monospace;
}

table.layout {
    margin:0; border:0; padding:0;
    border-spacing:0;
}
table.layout tr {
    margin:0;border:0;padding:0;
}
table.layout td {
    margin:0; border:0; padding:0;
    vertical-align:top;
}
table.layout th {
    margin:0;border:0;padding:0;
}

table.content {
    /* width:-webkit-fill-available; */
    border:0; white-space:pre;
    font-size:14px; font-family:monospace;
    cursor:pointer; overflow: auto;
}
table.content tr {
    background-color:#04272f45;
}
table.content th {
    background-color:#0fbd45;
    padding:2px 6px;
}
table.content td {
    padding:2px 6px;
    overflow:auto;
}
table.content td.select {
    background-color:red;
}
table.content td.select {
    background-color:red;
}
table.content td.done {
    background-color:green;
}

table.content tr.select {
    background-color:green;
}
table.content tr:hover {
    background-color:green;
}
table.content th:hover {
    background-color:red;
}
table.content td:hover {
    background-color:red;
}

h1 {
    margin:0;
}
h1:hover {
    background:green;
    cursor:pointer;
}
h2:hover {
    background:green;
    cursor:pointer;
}
h3:hover {
    background:green;
    cursor:pointer;
}
div.code {
    background-color:#343a3445; color:white;
    font-size:14px; font-family:monospace;
    box-shadow: 4px 4px 20px 4px #626bd0;
    padding:10px; border:solid 3px green;
    text-align:left; white-space:pre;
    overflow:auto;
}
div.story {
    text-align:left;
}
div.hidden {
    display:none;
}

div.toast {
    background:#0e3369b3; color:yellow;
    position:fixed;
    overflow:auto;
    padding:5px;
    z-index:100;
}
div.toast a {
    color:yellow;
}
div.toast div.title {
    font-size:14px;
    color:#cae850;
}
div.toast div.content {
    text-align:center;
    white-space:pre;
}
div.toast div.duration {
    font-size:14px;
    color:gray;
}
div.toast div.progress {
    border:solid 2px green;
    height:10px;
}
div.toast div.progress div.current {
    background:red;
    height:10px;
}

div.carte {
    position:fixed;
    background:#295b61;
    color:white;
    padding:4px;
    z-index:10;
    min-width:80px;
}
div.carte div.item {
    padding:3px 12px;
    cursor:pointer;
}
div.carte div.item:hover {
    background:red;
}

div.upload {
    background:black; color:yellow;
    position:fixed;
    padding:5px;
    z-index:50;
}
div.upload div.item {
    float:left;
}

div.story[data-type=spark] {
    background-color:#2169a9a6; color:white;
    box-shadow: 4px 4px 10px 1px #626bd0;
    padding:4px 10px; margin:10px 0px;
    border-left:solid 4px blue;
}
div.story[data-type=spark] span:hover {
    box-shadow: 4px 4px 10px 1px #29318e;
    background-color:#c10c8a;
    cursor:copy;
}

fieldset>form.option>div.item {
    float:left; margin-right:3px;
    min-height:25px; vertical-align:middle;
}
fieldset>form.option>div.item label {
    display:none;
}
fieldset>form.option>div.item input.args.char {
    width:20px;
}
fieldset>form.option>div.item input.args.tiny {
    width:40px;
}
fieldset>form.option>div.item input.args {
    width:82px; height:21px; font-size:16px;
}
fieldset>form.option>div.item input.args.cmd {
    background-color:black; color:white;
    width:160px;
}
fieldset>form.option>div.item input.args.long {
    width:240px;
}
fieldset>form.option>div.item input.args.full {
    width:480px;
}
fieldset>form.option>div.item input.args[name=url] {
    width:320px;
}
fieldset>form.option>div.item input.opts {
    width:80px;
}
fieldset>form.option>div.item select.args {
    height:25px; font-size:14px;
}
fieldset>form.option>div.item textarea.args {
    width:500px; height:50px;
    background-color:cyan;
}
fieldset>form.option>div.item.textarea {
    margin-top:4px;
    clear:both;
}

fieldset div.action>div.item {
    float:left; margin-right:3px;
    /* height:28px; */
    vertical-align:middle;
}
fieldset div.action>div.item.space {
    width:10px;
}
fieldset div.action>div.item label {
    display:none;
}
fieldset div.action>div.item select {
    height:25px; font-size:14px;
}

fieldset>div.status>div.item {
    float:left; padding:4px;
}
fieldset>div.status>div.item>label {
    font-size:10px; color:gray;
}

fieldset div.output {
    clear:both;
}
fieldset>div.output td.project {
    background-color:#435f8c8c;
}
fieldset>div.output td.profile {
    background-color:#71909c91;
}

fieldset>div.output {
    clear:both; overflow:auto;
    position:relative;
}
fieldset>div.output div.code a {
    color:yellow;
}
fieldset>div.output div.project {
    min-width:80px; max-width:240px;
    float:left; overflow:auto;
}
fieldset>div.output div.project div.item {
    padding:2px 10px; text-align:left;
    clear:both; cursor:pointer;
    white-space:pre;
}
fieldset>div.output div.project div.item:hover {
    background-color:red;
}
fieldset>div.output div.project div.item.select {
    background-color:red;
}
fieldset>div.output div.project div.list {
    margin-left:10px;
}

body>fieldset.input td {
    word-break:keep-all;
}

body>fieldset.input {
    position:fixed; top:32px;
    background-color:#0d4142a6;
    position:fixed;
    z-index:50;
}
body>fieldset.input div.output {
    max-height:400px;
}
body>fieldset.input.key {
    z-index:60;
}
body>fieldset.input.date {
    z-index:70;
}
body>fieldset.input.date table {
    text-align:center;
    width:280px;
}
body>fieldset.input.date table td:hover {
    background-color:red;
}

body.black a {
    color:yellow;
}
body.white {
    background-color:#052238bf;
    color:white;
}
body.white input[type=button] {
    background-color:#FF9900; color:white;
    border-radius:10px 10px 10px 10px;
    border:2px solid #FF9900;
}
body.white input[type=button]:hover {
    background-color:#FFCC33;
    border:2px solid #FFCC33;
}
body.white input[type=text] {
    background-color:white; color:black;
    border-radius:6px 6px 6px 6px;
    border:2px solid #14a58e;

}
body.white input[type=text]:hover {
    background-color:cyan;
}
body.white select {
    background-color:#99CC66; color:white;
    border-radius:10px 10px 10px 10px;
    border:2px solid #99CC66;
}

body.white table {
    color:black;
}
body.white table tr {
    background-color:#e1f1ff1f;
}
body.white table th {
    background-color:#99CCFF;
}
body.white table.content tr:hover {
    background-color:green;
}
body.white table input[type=button][value=结束] {
    background:red;
}
body.white table input[type=button][value=停止] {
    background:red;
}
body.white table input[type=button][value=启动] {
    background:#52ce78;
}

body.white fieldset.Action {
    color:black;
}
body.white fieldset.Action>div.action {
    color:white;
}
body.white fieldset.Action>div.action div.item {
    height:21px;
}
body.white fieldset.Action fieldset.plugin {
    background-color:#ffffff78;
}
body.white fieldset.Action fieldset.plugin legend {
    background-color:#339999; color:white;
    border-radius:10px 10px 10px 10px;
}
body.white fieldset.Action fieldset.plugin legend:hover {
    background-color:#6ee4e4;
}

body.print {
    background-color:white;
    color:black;
}
body.print legend {
    box-shadow:0px 0px 0px 0px #626bd0;
}
body.print input[type=text] {
    box-shadow:0px 0px 0px 0px #626bd0;
}
body.print select {
    box-shadow:0px 0px 0px 0px #626bd0;
}
body.print div.code {
    background-color:white;
}
body.print fieldset.Action {
    background-color:white;
}
body.print fieldset.Action fieldset.plugin {
    padding-left:40px;
}
body.print fieldset.River>div.output div.list div.item {
    background-color:white;
}
